html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ############## END OF RESET ############## */

body {
	font-family: Arial, Helvetica, sans-serif;
}

.header-main-div {
	display: flex;
	background-color: #f3e19a;

	padding: 0.75rem;
}

.header-logo {
	display: block;
	height: 2.6rem;
}

.header-span {
	font-size: 1.2rem;
	margin-top: 0.6rem;
	margin-left: auto;
}

.header-a {
	border: none;
	outline: none;
	padding: 0;

	background-color: #ffffff;
	color: #000000;

	border: solid 0.0625rem #b4a66f;
	border-radius: 0.5rem;
	box-shadow: 0 0.0625rem 0.125rem 0 #00000077;

	font-size: 1rem;
	text-align: center;

	box-sizing: border-box;
	padding: 0 0.8rem;
	margin-left: auto;

	cursor: pointer;
	transition: all 0.2s;
}

.header-a:hover, .header-a:focus, .color-submit-btn:hover, .color-submit-btn:focus, #post_color_wrapper:hover {
	border-color: #39a9db;
	box-shadow: 0 0 0 0.1825rem #39a9db;
}

.header-a > i {
	margin-top: 0.725rem;
}

.card-board-div {
	display: block;
	box-shadow: 0 0 0.125rem 0 #b4a66f;
	
	margin: 0 auto;
	font-size: 0;

	min-width: 62.5rem;
	max-width: 62.5rem;
	min-height: 62.5rem;
	max-height: 62.5rem;

	overflow: scroll;
}

.card-div {
	display: inline-block;

	box-sizing: border-box;

	min-width: 0.625rem;
	max-width: 0.625rem;
	min-height: 0.625rem;
	max-height: 0.625rem;
}

.color-form {
	display: block;

	background-color: #ffffff;

	width: 95%;
	max-width: 15rem;

	margin: 1rem auto;

	box-sizing: border-box;
	padding: 1rem;

	border: solid 0.125rem #cccccc;
	border-radius: 0.25rem;
}

.color-label {
	display: inline-block;
}

.color-input {
	opacity: 0;
	display: block;
	width: 3rem;
	height: 1rem;
	border: none;

	cursor: pointer;

}

#post_color_wrapper {
	float: right;
	margin-top: -0.0625rem;

	border-radius: 0.25rem;
	border: solid black 0.0625rem;

	transition: all 0.2s;
}

.color-submit-btn {
	outline: none;
	border: none;
	padding: 0;

	display: block;
	margin: 0 auto;
	margin-top: 1rem;

	width: 100%;

	background-color: #ffffff;
	color: #000000;

	border: solid 0.0625rem #b4a66f;
	border-radius: 0.125rem;
	box-shadow: 0 0.0625rem 0.125rem 0 #00000077;

	font-size: 0.8rem;

	box-sizing: border-box;
	padding: 0.5rem 0;

	cursor: pointer;
	transition: all 0.2s;
}